<nav class="nav-bar w-full fixed top-0 left-0 right-0 bg-customBlue flex items-center justify-between p-4 bg-customNavbar z-10">

  <div class="flex items-center">
    <img src="assets/logooo.png" alt="Logo" class="h-10"  >
  </div>

  <div class="flex-grow mx-7">
    <input type="text" placeholder="Buscar..." class="w-full p-2 rounded text-black border outline ">
  </div>

  <div class="flex items-center">
    <img [src]="petOwner.image_url" alt="User Photo" class="h-8  rounded-full mr-2">
    <span class="text-white">{{petOwner.name}}</span>
  </div>
</nav>
